@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="https://github.com/DarthMahia/DarthCalc/README.md" target="_blank">About</a>
        </div>

        <article class="content px-auto">
            @Body
        </article>
    </main>
</div>
